div.page-wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-left: 240px;
}

sidebar.preview-controls {
  position: absolute;
  top: 10px;
  left: 8px;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
}



div.sidebar {
  position: absolute;
  width: 4%;
  height: 100%;
  left: 0;
  top: 0;
  background: #222;
  font-size: 17px;
}

.sidebar .primary {
  height :25%;
  padding: 10%;
}

.sidebar .primary .button {
  width: 100%;
  height : 30%;
  margin : 5% 0 5% 0;
  padding: 0;
  display: inline-block;
  color: #fff;
  border: 0;
  border-radius: 3px;
  background: #bec3bf;
  cursor: pointer;
}

.sidebar .secondary {
  position: relative;
  overflow: auto;
  height :65%;
  padding: 10%;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.sidebar .secondary .button {
  display: block;
  position: relative;
  width: 80%;
  height : 10%;
  margin: 10%;
  color: #eee;
  border: 0;
  cursor: pointer;
  background: #222;
}

header.global-header {
  position: relative;
  height : 5%;
  padding: 0 25% 10% 25%;
  display: inline-block;
  color: #eee;
  background: #222;
}

div.global-div{
  width :10%;
  height : 5%;
  padding: 0 25% 10% 25%;
  display: inline-block;
  color: #eee;
  background: #222;
}
	
}