div.square {
  float: inherit;
  
  width: 20px;
  height: 20px;
  background-color: black;
}
div.canvas {
  position: absolute;
  top: 0px;
  left: 70px;
  width: 1000px;
  height: 800px;
  background-color: rgb(255,248,220);
  border: solid red 1px;
}
/* 
body > div.page-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-left: 240px;
} 
  */
body > div.page-wrapper > div.sidebar {
  position: absolute;
  width: 70px;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0;
  z-index: 102;
  background: #222;
  font-size: 17px;
  transition: all 0.25s ease;
}
body > div.page-wrapper > div.sidebar > div.primary > button.button.preview {
  display: inline-block;
  height: 50px;
  padding: 0;
  margin-bottom: 6px;
  background: #40cb90;
  text-align: center;
  
  width: 50px;
}

/* body > div.page-wrapper > div.sidebar > div.toolbar.visible {
	opacity: 1;
}

body > div.page-wrapper > div.sidebar > div.toolbar {
	position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  font-size: 14px;
  color: #fff;
  opacity: 0;
  left: -170px;
}


body > div.page-wrapper > div.sidebar > div.toolbar.visible > div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 12px;
} */

body > div.canvas > div.sl-block-content.isFocus > div {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
/*   visibility: hidden; */
  z-index: 255;
  pointer-events: none;
  border: 1px solid #1baee1;
  font-size: 12px;
}

body > div.canvas > div > div > div.anchor {
  position: absolute;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #1baee1;
  cursor: pointer;
  pointer-events: all;
/*   visibility: hidden; */
}

body > div.canvas > div > div > div[data-direction=n] {
  left: 50%;
  bottom: 100%;
  margin-left: -0.5em;
  margin-bottom: -0.4em;
  cursor: row-resize;
}
body > div.canvas > div > div > div[data-direction=e] {
  left: 100%;
  top: 50%;
  margin-top: -0.5em;
  margin-left: -0.4em;
  cursor: col-resize;
}
body > div.canvas > div > div > div[data-direction=s] {
  left: 50%;
  top: 100%;
  margin-left: -0.5em;
  margin-top: -0.4em;
  cursor: row-resize;
}
body > div.canvas > div > div > div[data-direction=w] {
  right: 100%;
  top: 50%;
  margin-top: -0.5em;
  margin-right: -0.4em;
  cursor: col-resize;
}
body > div.canvas > div > div > div[data-direction=nw] {
  right: 100%;
  bottom: 100%;
  margin-right: -0.4em;
  margin-bottom: -0.4em;
  cursor: nw-resize;
}
body > div.canvas > div > div > div[data-direction=ne] {
  left: 100%;
  bottom: 100%;
  margin-left: -0.4em;
  margin-bottom: -0.4em;
  cursor: ne-resize;
}
body > div.canvas > div > div > div[data-direction=se] {
  left: 100%;
  top: 100%;
  margin-left: -0.4em;
  margin-top: -0.4em;
  cursor: se-resize;
}
body > div.canvas > div > div > div[data-direction=sw] {
  right: 100%;
  top: 100%;
  margin-right: -0.4em;
  margin-top: -0.4em;
  cursor: sw-resize;
}


div.sl-block-content.isFocus {
 
}

.i-eye:before {
  /* content: "\e088"; */
  content: "\256B";
}